[Unit]
Description=AuxStream Music Streaming Service
Documentation=https://github.com/beesaferoot/auxstream
After=network.target

[Service]
Type=simple
User=beesafe
WorkingDirectory=/home/beesafe/apps/auxstream
EnvironmentFile=/home/beesafe/apps/auxstream/app.env
ExecStart=/home/beesafe/apps/auxstream/build/auxstream
ExecReload=/bin/kill -HUP $MAINPID
User=beesafe
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=auxstream



# Security settings
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/beesafe/apps/auxstream/uploads

[Install]
WantedBy=multi-user.target
